{
    "branches": ["master"],
    "plugins": [
      [
        "@semantic-release/commit-analyzer",
        {
          "preset": "angular",
          "releaseRules": [
            { "type": "*", "release": "minor" }
          ]
        }
      ],
      "@semantic-release/release-notes-generator"
    ]
  }